@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, "Segoe UI", sans-serif;
  background: #FFFFF0;
  color: white;
}

* {
  box-sizing: border-box;
}

section {
  padding: 80px 8%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

::selection {
  background: #ef4444;
  color: B;
}